<html style="padding:30px;width:1000px">
<div style="text-align: center;font-weight: 600;">
    <div>附 录 D</div>
    <div>(规范性附录)</div>
    <div>标准系统推荐表</div>
</div>
<div style="display: flex;margin-top: 30px;">
    <div style="width: 50%;">
        <div>被校设备名称： <input type="text" name="name" style="width:calc(100% - 140px)" /></div>
    </div>
    <div style="width: 50%;">
        <div style="">型号：<input type="text" name="name" style="width:calc(100% - 66px)" />
        </div>
    </div>
</div>
<div style="display: flex;">
    <div style="width: 50%;">
        <div style="">校准系统或测量标准名称：<input type="text" name="name" style="width:calc(100% - 214px)" /></div>
    </div>
    <div style="width: 50%;">
        <div style="">测量名称及测量不确定度：<input type="text" name="name" style="width:calc(100% - 210px)" /></div>
    </div>
</div>
<table class="reference" style="border-collapse: collapse;;width:100%;margin-top:10px" border="1">
    <tbody>
        <tr>
            <th>校准设备名称</th>
            <th>型号</th>
            <th>参数</th>
            <th>测量范围</th>
            <th>测量不确定度或最大允许误差、准确度等级</th>
            <th>校准依据的技术文件</th>
            <th>备注</th>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>
<div style="margin-left: 30px;line-height: 150px;">
    注：本表适用于由多台校准设备组成的校准系统。应另加附件，对校准系统的不确定度分析和评定作详细说明。
</div>
<div style="display: flex;width:100%">
    <div style="font-weight: 500;">编制人：
        <input type="text" name="name" style="width:calc(100% - 80px)" />
    </div>
    <div style="font-weight: 500">审核人：
        <input type="text" name="name" style="width:calc(100% - 80px)" />
    </div>
    <div style="font-weight: 500">批准人：
        <input type="text" name="name" style="width:calc(100% - 80px)" />
    </div>
    <div style="font-weight: 500">编制日期：
        <input type="text" name="name" style="width:calc(100% - 90px)" />
    </div>
    <div style="font-weight: 500">编制单位（加盖公章）：
        <input type="text" name="name" style="width:calc(100% - 182px)" />
    </div>
</div>

</html>
<style>
    table,
    tr {
        height: 30px
    }

    input {
        border: none;
        border-bottom: 1px solid #000;
    }
</style>