<html style="padding:30px;width:1000px">
<div style="text-align: center;font-weight: 600;">
    <div>附 录 A</div>
    <div>（规范性附录）</div>
    <div>装备检测需求明细表</div>
</div>
<div style="margin-top: 30px;width: 100%;">
    被测装备名称： <input type="text" name="name" style="width:calc(100% - 140px)" />
</div>
<div style="display: flex;">
    <div style="width: 50%;">
        <div>被测系统名称：<input type="text" name="name" style="width:calc(100% - 130px)" /></div>
    </div>
    <div style="width: 50%;">
        <div>被测分系统名称：<input type="text" name="name" style="width:calc(100% - 150px)" /></div>
    </div>
</div>
<div style="display: flex;">
    <div style="width: 50%;">
        <div>被测设备名称：<input type="text" name="name" style="width:calc(100% - 130px)" /></div>
    </div>
    <div style="width: 50%;">
        <div>生产单位：<input type="text" name="name" style="width:calc(100% - 102px)" /></div>
    </div>
</div>
<div style="display: flex;">
    <div style="width: 50%;">
        <div>型号或规格：<input type="text" name="name" style="width:calc(100% - 113px)" /></div>
    </div>
    <div style="width: 50%;">
        <div>出厂编号：<input type="text" name="name" style="width:calc(100% - 102px)" /></div>
    </div>
</div>
<table class="reference" style="border-collapse: collapse;;width:100%;margin-top:10px" border="1">
    <tbody>
        <tr>
            <th>项目或参数</th>
            <th>使用范围或量值</th>
            <th>使用允许误差</th>
            <th>环境要求</th>
            <th>备注</th>
        </tr>
    </tbody>
</table>
<div style="margin-left: 15px;line-height: 30px;margin-top: 30px;">
    <div>
        注1：需检测的关键参数在备注中注明。如特殊要求或需要对有关问题进行说明时可另加附件；
    </div>
    <div>
        注2：编制人、审核人由设计部门人员签字，计量由计量部门计量师（专业计量人员）签字，批准人为设计部门型号主管领导，编制单位即参研单位。
    </div>
</div>
<div style="display: flex;width:100%;margin-top: 50px;">
    <div style="font-weight: 500;">编制人：
        <input type="text" name="name" style="width:calc(100% - 80px)" />
    </div>
    <div style="font-weight: 500">审核人：
        <input type="text" name="name" style="width:calc(100% - 80px)" />
    </div>
    <div style="font-weight: 500">批准人：
        <input type="text" name="name" style="width:calc(100% - 80px)" />
    </div>
    <div style="font-weight: 500">编制日期：
        <input type="text" name="name" style="width:calc(100% - 90px)" />
    </div>
    <div style="font-weight: 500">编制单位（加盖公章）：
        <input type="text" name="name" style="width:calc(100% - 182px)" />
    </div>
</div>

</html>
<style>
    input {
        border: none;
        border-bottom: 1px solid #000;
    }
</style>