<html style="padding:30px;width:1000px">
<div style="text-align: center;font-weight: 600;">
    <div>附 录 B</div>
    <div>（规范性附录）</div>
    <div>检测设备推荐表</div>
</div>
<div style="margin-top: 30px;width: 100%;">
    被测装备名称： <input type="text" name="name" style="width:calc(100% - 140px)" />
</div>
<div style="display: flex;">
    <div style="width: 33%;">
        <div>被测系统名称：<input type="text" name="name" style="width:calc(100% - 130px)" /></div>
    </div>
    <div style="width: 33%;">
        <div>型号：<input type="text" name="name" style="width:calc(100% - 70px)" /></div>
    </div>
    <div style="width: 34%;">
        <div>生产单位：<input type="text" name="name" style="width:calc(100% - 102px)" /></div>
    </div>
</div>
<div style="display: flex;">
    <div style="width: 33%;">
        <div>被测分系统名称：<input type="text" name="name" style="width:calc(100% - 146px)" /></div>
    </div>
    <div style="width: 33%;">
        <div>型号：<input type="text" name="name" style="width:calc(100% - 70px)" /></div>
    </div>
    <div style="width: 34%;">
        <div>生产单位：<input type="text" name="name" style="width:calc(100% - 102px)" /></div>
    </div>
</div>
<div style="display: flex;">
    <div style="width: 33%;">
        <div>被测设备名称：<input type="text" name="name" style="width:calc(100% - 130px)" /></div>
    </div>
    <div style="width: 33%;">
        <div>型号：<input type="text" name="name" style="width:calc(100% - 70px)" /></div>
    </div>
    <div style="width: 34%;">
        <div>生产单位：<input type="text" name="name" style="width:calc(100% - 102px)" /></div>
    </div>
</div>
<table class="reference" style="border-collapse: collapse;;width:100%;margin-top:10px" border="1">
    <tbody>
        <tr>
            <th>检测设备名称</th>
            <th>型号</th>
            <th>生产单位</th>
            <th>测量参数</th>
            <th>测量范围</th>
            <th>最大允许误差或精确度等级</th>
            <th>检测依据的技术规范</th>
            <th>备注</th>
        </tr>
    </tbody>
</table>
<div style="margin-left: 15px;line-height: 30px;margin-top: 30px;">
    <div>
        注1：在备注中应注明是“通用”设备或”专用“设备。
    </div>
    <div>
        注2：必要时可另加附件，如说明测量不确定度的分析和评定等。
    </div>
    <div>
        注3：编制人、审核人由检测（试验）部门人员签字，计量由计量部门计量师（专业计量人员）签字，批准人由机载成品（产品、专测设备）检验（试验）部门领导（技术负责人）签字，编制单位即参研单位。
    </div>
</div>
<div style="display: flex;width:100%;margin-top: 50px;">
    <div style="font-weight: 500;">编制人：
        <input type="text" name="name" style="width:calc(100% - 80px)" />
    </div>
    <div style="font-weight: 500">审核人：
        <input type="text" name="name" style="width:calc(100% - 80px)" />
    </div>
    <div style="font-weight: 500">计量：
        <input type="text" name="name" style="width:calc(100% - 80px)" />
    </div>
    <div style="font-weight: 500">批准人：
        <input type="text" name="name" style="width:calc(100% - 80px)" />
    </div>
    <div style="font-weight: 500">编制日期：
        <input type="text" name="name" style="width:calc(100% - 90px)" />
    </div>
    <div style="font-weight: 500">编制单位（加盖公章）：
        <input type="text" name="name" style="width:calc(100% - 182px)" />
    </div>
</div>

</html>
<style>
    input {
        border: none;
        border-bottom: 1px solid #000;
    }
</style>