<html style="padding:30px;width:1000px">
<div style="text-align: center;font-weight: 600;">
    <div>附 录 C</div>
    <div>（规范性附录）</div>
    <div>校准设备推荐表</div>
</div>
<table class="reference" style="border-collapse: collapse;;width:100%;margin-top:10px" border="1">
    <tbody>
        <tr>
            <th>被校检测设备名称/型号</th>
            <th>校准设备名称</th>
            <th>型号</th>
            <th>参数</th>
            <th>测量范围</th>
            <th>测量不确定度或最大允许误差、准确度等级</th>
            <th>校准依据的技术文件</th>
            <th>备注</th>
        </tr>
    </tbody>
</table>
<div style="margin-left: 15px;line-height: 30px;margin-top: 30px;">
    <div>
        注1：需要进行不确定度说明时，可另加附件；
    </div>
    <div>
        注2：编制人、审核人为计量部门计量人员，批准人为计量部门领导（技术负责人）签字，编制单位即参研单位。
    </div>
</div>
<div style="display: flex;width:100%;margin-top: 50px;">
    <div style="font-weight: 500;">编制人：
        <input type="text" name="name" style="width:calc(100% - 80px)" />
    </div>
    <div style="font-weight: 500">审核人：
        <input type="text" name="name" style="width:calc(100% - 80px)" />
    </div>
    <div style="font-weight: 500">批准人：
        <input type="text" name="name" style="width:calc(100% - 80px)" />
    </div>
    <div style="font-weight: 500">编制日期：
        <input type="text" name="name" style="width:calc(100% - 90px)" />
    </div>
    <div style="font-weight: 500">编制单位（加盖公章）：
        <input type="text" name="name" style="width:calc(100% - 182px)" />
    </div>
</div>

</html>
<style>
    input {
        border: none;
        border-bottom: 1px solid #000;
    }
</style>