<html style="padding:30px;width:1000px">
<div style="text-align: center;font-weight: 600;">
    <div>附 录 E</div>
    <div>（规范性附录）</div>
    <div>装备的检测和校准需求汇总表</div>
</div>
<div style="display: flex;">
    <div style="width: 33%;">
        <div>被测装备名称：<input type="text" name="name" style="width:calc(100% - 130px)" /></div>
    </div>
    <div style="width: 33%;">
        <div>被测系统名称：<input type="text" name="name" style="width:calc(100% - 130px)" /></div>
    </div>
    <div style="width: 34%;">
        <div>被测分系统名称：<input type="text" name="name" style="width:calc(100% - 150px)" /></div>
    </div>
</div>
<div style="display: flex;">
    <div style="width: 50%;">
        <div>被测设备名称：<input type="text" name="name" style="width:calc(100% - 146px)" /></div>
    </div>
    <div style="width: 50%;">
        <div>生产单位：<input type="text" name="name" style="width:calc(100% - 102px)" /></div>
    </div>
</div>
<div style="display: flex;">
    <div style="width: 50%;">
        <div>型号或规格：<input type="text" name="name" style="width:calc(100% - 130px)" /></div>
    </div>
    <div style="width: 50%;">
        <div>生产代码或出厂编号：<input type="text" name="name" style="width:calc(100% - 182px)" /></div>
    </div>
</div>
<table class="reference" style="border-collapse: collapse;;width:100%;margin-top:10px" border="1">
    <tbody>
        <tr>
            <th colspan="3">装备</th>
            <th colspan="4">检测设备</th>
            <th colspan="5">校准设备</th>
        </tr>
        <tr>
            <th>项目或参数</th>
            <th>使用范围或量值</th>
            <th>使用允许误差</th>
            <th>名称和型号</th>
            <th>参数和测量范围</th>
            <th>最大允许误差</th>
            <th>检测依据的技术文件</th>
            <th>名称和型号</th>
            <th>参数</th>
            <th>测量范围</th>
            <th>测量不确定度或最大允许误差准确度等级</th>
            <th>校准依据的技术文件</th>
        </tr>
    </tbody>
</table>
<div style="margin-left: 15px;line-height: 30px;margin-top: 30px;">
    <div>
        注1：必要时可另加附件。
    </div>
    <div>
        注2：编制人、审核人由计量部门人员（计量师）签字，批准人为机载成品（产品、专测设备）型号副总师（质量总师）签字，编制单位及参研单位；
    </div>
</div>
<div style="display: flex;width:100%;margin-top: 50px;">
    <div style="font-weight: 500;">编制人：
        <input type="text" name="name" style="width:calc(100% - 80px)" />
    </div>
    <div style="font-weight: 500">审核人：
        <input type="text" name="name" style="width:calc(100% - 80px)" />
    </div>
    <div style="font-weight: 500">计量：
        <input type="text" name="name" style="width:calc(100% - 80px)" />
    </div>
    <div style="font-weight: 500">批准人：
        <input type="text" name="name" style="width:calc(100% - 80px)" />
    </div>
    <div style="font-weight: 500">编制日期：
        <input type="text" name="name" style="width:calc(100% - 90px)" />
    </div>
    <div style="font-weight: 500">编制单位（加盖公章）：
        <input type="text" name="name" style="width:calc(100% - 182px)" />
    </div>
</div>

</html>
<style>
    input {
        border: none;
        border-bottom: 1px solid #000;
    }
</style>